<div class="resume_wrapper">
  <div class="resume_left">
    <div class="resume_img">
      <input
        type="image"
        src="./assets/image/LeDoCaoThi.jpg"
        alt="resume_img"
        title="resume_img"
      />
    </div>
    <div class="resume_bottom">
      <div class="resume_item resume_contact">
        <div class="resume_title">My Contact</div>
        <!-- số điện thoại -->
        <div class="resume_info">
          <div class="resume_subtitle">Phone number</div>
          <div class="resume_subinfo">{{phoneNumber}}</div>
          <!-- email -->
          <div class="resume_subtitle">Email</div>
          <div class="resume_subinfo">{{email}}</div>
        </div>
      </div>
      <div class="resume_item resume_address">
        <div class="resume_title">Address</div>
        <div class="resume_info">{{address}}</div>
      </div>
      <div class="resume_item resume_skills">
        <div class="resume_title">Skills</div>
        <div class="resume_info">
          <div class="skills_list">
            {{#each skill}}
              <p>{{this}}</p>
            {{else}}
              <p>No content</p>
            {{/each}}
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="resume_right">
    <div class="resume_top">
      <div class="resume_item resume_namerole">
        <div class="name">{{name}}</div>
        <div class="role">{{role}}</div>
      </div>
    </div>
    <div class="info_decription">
      <div class="resume_item resume_background_sumary">
        <div class="resume_title">Background Sumary</div>
        <div class="resume_data">
          <p id="description">{{backgroundSummary}}
          </p>
        </div>
      </div>
      <div class="resume_item resume_work_history">
        <div class="resume_title">Work History</div>
        <div class="resume_data">
          <p{{workHistory.title}}</p>
          <ul>
            {{#each workHistory.description}}
            <li>{{this}}</li>
            {{else}}
            <li>No content</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="resume_item resume_education">
        <div class="resume_title">Education</div>
        <div class="resume_data">
          <p>{{education.title}}
          </p>
          <p>{{education.address}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <style>
    :root {
      --white-color: #fff;
      --black-color: #000;
      --text-color: #333;
    }

    * {
      font-family: "Roboto", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
    }
    /* 
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
} */

    body {
      background: #fff;
      font-size: 14px;
      line-height: 20px;
    }

    .resume_wrapper {
      display: flex;
      width: 800px;
      margin: 50px auto;
      background: #fff;
      /* padding: 10px; */

      border-width: 3px;
      border-color: #000;
      border-style: solid;
    }

    .resume_wrapper .content {
      /* background-color: #000; */
      display: none;
    }

    .resume_wrapper .resume_left {
      width: 35%;
      background: #000;
    }

    .resume_wrapper .resume_left .resume_img {
      width: auto;
      object-fit: contain;
    }

    .resume_wrapper .resume_left .resume_img img {
      width: 100%;
      display: block;
    }

    .resume_wrapper .resume_title {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
      letter-spacing: 4px;
    }

    .resume_wrapper .resume_left .resume_info {
      color: #84838b;
    }

    .resume_wrapper .resume_left .resume_bottom {
      padding: 20px 30px;
    }

    .resume_wrapper .resume_item {
      padding: 20px 0;
      border-bottom: 1px solid #0175b2;
    }

    .resume_wrapper .resume_item:last-child {
      border-bottom: 0px;
    }

    .resume_wrapper .resume_left .resume_contact .resume_info:last-child {
      margin-top: 10px;
    }

    .resume_wrapper .resume_left .resume_contact .resume_subtitle {
      color: #fff;
      margin-bottom: 2px;
    }

    .resume_wrapper .resume_right {
      width: 65%;
      height: auto;
      padding: 20px;
      padding-left: 2px;
      padding-right: 0;
    }

    .resume_wrapper .resume_right .resume_top {
      background: #ffc32a;
      width: auto;
      max-width: 100%;
      height: 20%;
      max-height: 50%;
      margin: 50px auto 20px auto;
      padding-left: 10px;
    }

    .resume_wrapper .resume_right .resume_namerole .name {
      font-size: 35px;
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 50px;
      letter-spacing: 4px;
    }

    .resume_wrapper .resume_right .resume_namerole .role {
      color: #64626f;
      font-size: 14px;
      text-transform: unset;
      font-weight: bold;
      margin-top: 20px;
    }

    .resume_wrapper .resume_right .info_decription {
      padding-top: 0px;
      padding-bottom: 30px;
    }

    .resume_wrapper .resume_right .resume_item .resume_title {
      /* color: #fff;
    background-color: #000; */
      display: flex;
      margin: 0px 150px 10px 0px;
      padding: 3px;
      font-size: 20px;
      background-color: #000;
      color: #fff;
    }

    .resume_wrapper .resume_right .resume_item .resume_data {
      padding-left: 20px;
    }

    @media screen and (max-width: 800px) {
      .resume_wrapper .resume_right .resume_namerole {
        display: none;
      }
      .resume_wrapper .resume_left .resume_namerole {
        display: block;
      }
      .resume_wrapper {
        width: 95%;
        margin: 10px auto;
        flex-direction: column;
      }
      .resume_wrapper .resume_left,
      .resume_wrapper .resume_right {
        width: 100%;
      }
    }

    @media screen and (max-width: 424px) {
      .resume_wrapper .resume_right {
        padding: 20px 30px;
      }
      /* .resume_wrapper .resume_right .resume_data{
		flex-direction: column;
	}
	.resume_wrapper .resume_right .resume_data .year{
		padding: 0;
		margin-bottom: 5px;
		width: 100%;
		color: #0175b2;
	}
	.resume_wrapper .resume_right .resume_data .year:before,
	.resume_wrapper .resume_right .resume_data .year:after{
		display: none;
	}
	.resume_wrapper .resume_right .resume_data .content{
		width: 100%;
		padding: 0;
	}
	.resume_wrapper .resume_right .resmue_interests .interests .int_icon{
		font-size: 24px;
	} */
    }
  </style>