<div class="resume_wrapper">
    <div class="resume_left">
      <div class="resume_img">
        <img
            src="{{profileImg_dir}}"
            alt="resume_img"
        >
      </div>
      <div class="resume_bottom">
        <div class="resume_item">
            <p class="resume_title">My Contact</p>
            <p class="resume_subtitle">Phone number</p>
            <p class="resume_subinfo">{{phoneNumber}}</p>
            <p class="resume_subtitle">Email</p>
            <p class="resume_subinfo">{{email}}</p>
            <p class="resume_subtitle">Address</p>
            <p class="resume_subinfo">{{address}}</p>
        </div>
        <div class="resume_item">
            <p class="resume_title">Skills</p>
            <div class="resume_subinfo">
              {{#each skill}}
                <p>{{this}}</p>
              {{else}}
                <p>No content</p>
              {{/each}}
              <p>...</p>
            </div>
        </div>
      </div>
    </div>
    <div class="resume_right">
      <div class="resume_top">
        <p class="name">{{name}}</p>
        <p class="role">{{role}}</p>
      </div>
      <div class="info_decription">
        <div class="resume_item_right">
          <div class="resume_title_right">Background Sumary</div>
          <div class="resume_data">
            <p>{{backgroundSummary}}</p>
          </div>
        </div>
        <div class="resume_item_right">
          <div class="resume_title_right">Work History</div>
          <div class="resume_data">
            <p>{{workHistory.title}}</p>
            <ul>
              {{#each workHistory.description}}
              <li>{{this}}</li>
              {{else}}
              <li>No content</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="resume_item_right">
          <div class="resume_title_right">Education</div>
          <div class="resume_data">
            <p>{{education.title}}</p>
            <p>{{education.address}}</p>
          </div>
        </div>
      </div>
    </div>
</div>

  <style>
    :root {
      --white-color: #ffffff;
      --black-color: #000;
      --text-color: #333;
    }

    * {
      font-family: "Roboto", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
    }

    body {
      background: #fff;
      font-size: 14px;
      line-height: 20px;
    }

    .resume_wrapper {
      display: flex;
      width: 400px;
      height: 565.68px;
      margin: 50px auto;
      background: #ffffff;
    
      border: 2px solid black;
    }

    .resume_wrapper .resume_left {
        width: 120px;
        height: auto;
        background: #000000;
        border-right: 2px solid white;
    }

    .resume_wrapper .resume_left .resume_img {
      width: 120px;
      height: 150px;
    }

    .resume_wrapper .resume_left .resume_img img {
      width: 100px;
      height: 130px;
      object-fit: cover;
      margin: 10px;
    }

    .resume_bottom {
        width: 100%;
        height: 412.68px;
    }

    .resume_item {
        display: block;
        width: 100%;
    }

    .resume_wrapper .resume_title {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 10px;
    }
    
    .resume_subtitle {
      color: #fff;
      font-size: 10px;
      padding: 0px 10px;
    }

    .resume_subinfo {
      color: #fff;
      font-size: 9px;
      padding: 0px 10px;
      width: 100%;
      height: auto;
      word-wrap: break-word;
    }
    
    .resume_wrapper .resume_right {
      height: auto;
      width: 277px;;
      overflow: hidden;
    }

    .resume_top {
        width: 100%;
        height: auto;
        background-color: #ffc32a;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin: 22px 0;
    }

    .resume_top .name {
        color: #000000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 25px 0px 25px 15px;
    }

    .resume_top .role {
        color: #000000;
        font-size: 17px;
        letter-spacing: 1px;
        padding: 0 0 25px 15px;
    }
    
    .info_decription {
        height: auto;
    }

    .resume_item_right{
        border-top: 1px solid black;
        margin-top: 10px;
    }

    .resume_title_right{
        height: 30px;
        width: 200px;
        color: #fff;
        background-color: #000;
        padding-left: 5px;
        
        font-size: 17px;
        letter-spacing: 1px;
    }

    .resume_data {
        font-size: 10px;
        padding: 0px 15px;
        width: 100%;
        word-wrap: break-word;
    }
  </style>